daemon off;
#Heroku dynos have at least 4 cores.
worker_processes <%= ENV['NGINX_WORKERS'] || 4 %>;

events {
	use epoll;
	accept_mutex on;
	worker_connections 1024;
}

http {
  server {
      listen 80;

      upstream rninja {
          server rails01.rninja.com;
          server rails02.rninja.com;
      }

      location / {
          proxy_pass http://rninja;
      }
  }
}
